<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head>
 <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>RS Education</title>
  <link rel="icon" type="image/png" th:href="@{/dist/img/logo.png}" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>


<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
  <link rel="stylesheet" href="../static/plugins/fullcalendar/fullcalendar.min.css" th:href="@{/plugins/fullcalendar/fullcalendar.min.css}" />
  <link rel="stylesheet" href="../static/plugins/fullcalendar/fullcalendar.print.css" media="print" th:href="@{/plugins/fullcalendar/fullcalendar.print.css}"/>
  <link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css" th:href="@{/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" href="../static/dist/css/skins/_all-skins.min.css" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
  <link rel="stylesheet" href="../static/plugins/iCheck/flat/blue.css" th:href="@{/plugins/iCheck/flat/blue.css}"/>
  <link rel="stylesheet" href="../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}"/>

  <style type="text/css">
	.msg:hover {content: " (" a(title) ")"};
  </style>
</head>
<body>


<header class="main-header">
    <!-- Logo -->
    <a href="AdminLTE-master/AdminLTE-master/index2.jsp" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>RS</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>RS</b>Education</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success"><label th:text="${nbrMsg}"></label></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Vous avez <label th:text="${nbrMsg}"></label> messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li th:each="m:${msgRecue}"><!-- start message -->
                    <a th:href="@{/lireMessage(idMessage=${m.idMesagerie})}" class="msg" th:if="${m.vu} == false">
                      <div class="pull-left">
                        <img th:src="${m.utilisateurEnvoie.photo}" class="img-circle" alt="User Image"/>
                      </div>
                      <h4>
                        <label th:text="${m.utilisateurEnvoie.nom}"></label> <label th:text="${m.utilisateurEnvoie.prenom}"></label>
                        <small><i class="fa fa-clock-o"></i> <label th:text="${#dates.format(m.date, 'dd/MM/YYYY à HH:mm')}"></label></small>
                      </h4>
                      <p th:text="${m.objet}"></p>
                    </a>
                  </li>
                  <!-- end message -->
                  
                </ul>
              </li>
              <li class="footer"><a href="@{/inbox}">Voir tous les messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">3</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Vous avez 3 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#" class="msg" title="5 nouveaux membres se sont joints aujourd'hui">
                      <i class="fa fa-users text-aqua"></i> 5 nouveaux membres se sont joints aujourd'hui
                    </a>
                  </li>
                  <li>
                    <a href="#" class="msg" title="Très longue description ici qui peut ne pas entrer dans la page et peut causer des problèmes de conception">
                      <i class="fa fa-warning text-yellow"></i> Très longue description ici qui peut ne pas entrer dans la page et peut causer des problèmes de conception
                    </a>
                  </li>
                  <li>
                    <a href="#" class="msg" title="Vous avez changé votre mot de passe">
                      <i class="fa fa-user text-red"></i> Vous avez changé votre mot de passe
                    </a>
                  </li>
                  <!-- <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li> -->
                  
                </ul>
              </li>
              <li class="footer"><a href="#">Voir tout</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img th:src="${user.photo}" class="user-image" alt="User Image"/>
              <span class="hidden-xs"><label th:text="${user.nom}"></label> <label th:text="${user.prenom}"></label></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img th:src="${user.photo}" class="img-circle" alt="User Image"/>

                <p>
                  <label th:text="${user.nom}"></label> <label th:text="${user.prenom}"></label> - <label th:text="${user.fonction}"></label>
                  <small>Membre depuis le <label th:text="${#dates.format(user.dateCreation, 'dd MMMMM YYYY')}"></label></small>
                </p>
              </li>
              <!-- Menu Body 
              <li class="user-body">
                
                /.row
              </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a th:href="@{/login?logout}" class="btn btn-default btn-flat">Déconnexion</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
           <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
</header>



<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="${user.photo}" class="img-circle" alt="User Image"/>
        </div>
        <div class="pull-left info">
          <p><label th:text="${user.nom}"></label> <label th:text="${user.prenom}"></label></p>
          <a href="#"><i class="fa fa-circle text-success"></i> En ligne</a>
        </div>
      </div>
      <!-- search form -->
      <form th:action="@{/profileChercher}" method="GET" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="username" class="form-control" placeholder="Recherche"/>
              <span class="input-group-btn">
                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Menu</li>
        <li class="active treeview">
        
            <li>
         
		   <a th:href="@{/index}">
            <i class="fa fa-th"></i> <span>Acceuil</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red"></small>
            </span>
          </a>
        </li>
          
         
        </li>
       
        <li>
          <a th:href="@{/profile}">
             <i class="fa fa-book"></i>  <span>Profile</span>
          
          </a>
        
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span>Messagerie</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right" ><label th:text="${nbrMsg}"></label></span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <a th:href="@{/inbox}">Boîte de réception
                <span class="pull-right-container">
                  <span class="label label-primary pull-right"><label th:text="${nbrMsg}"></label></span>
                </span>
              </a>
            </li>
            <li>
            	<a th:href="@{/message}">Envoyer un message</a>
            </li>
          </ul>
        </li>
		 <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Groupe</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right" th:text="${nbrGroupe}"></span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:each="g:${groupes}"><a th:href="@{/groupe(idGroupe=${g.idClasse})}"><i class="fa fa-circle-o"></i> <label th:text="${g.Nom}"></label></a></li>
          
          </ul>
        </li>
        
        <li><a href="documentation/index.jsp"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
    
  
      </ul>
    </section>
</aside>




<section layout:fragment="content"></section>





<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2016-2017 <a href="">RS Education</a>.</strong> All rights
    reserved.
</footer>


<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:src="@{/dist/js/app.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function () {
    //Add text editor
    $("#compose-textarea").wysihtml5();
  });

  $(function () {
    //Enable iCheck plugin for checkboxes
    //iCheck for checkbox and radio inputs
    $('.Messagerie-messages input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });

    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".Messagerie-messages input[type='checkbox']").iCheck("uncheck");
        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".Messagerie-messages input[type='checkbox']").iCheck("check");
        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });

    //Handle starring for glyphicon and font awesome
    $(".Messagerie-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
  });

</script>
</body>
</html>